<%= render partial: "layouts/head_tags" %>
  <div class="top-links" id="top-waypoint">
    <div class="header-logo">

    </div><!-- logo -->

    <%= link_to "Login", new_user_session_path, class: "btn-bordered btn-landing-top text-uppercase" %>


  </div><!-- top-links -->
  <header class="landing-header">
    <%= render partial: "layouts/flash" %>

<header role="banner">
  <div class="container">
    <div class="row">
      <h1 class="header-intro">Created for you, by people like you.</h1>
    </div>
  </div>
</header>
<section id="about-text" class="section-default">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h-key">H</h2>
        <h3>Help A Noob was created with the idea that coders, and especially beginner coders, should not feel intimidated or frustrated by the responses to their questions found online.</h3>
        <h3>Our team is made up of designers, front-end developers, and back-end developers whom are all dedicated to building a question and answer platform that is encouraging, inviting, and accepting of coders from all backgrounds and skill levels, from novice to expert.</h3>
        <h3>In fact, many of our team members have less than a year of experience.<br>So trust us when we say, <strong>we get you</strong>.</h3>
      </div>
    </div>
  </div>
</section>
<section id="team" class="section-default">
  <div class="container">
    <h2 class="h-key">MEET OUR TEAM</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/app/assets/images/Antonija.jpg" alt="Antonija" class="img-responsive team-image">
          <h4 class="team-name">Antonija Šimić</h4>
          <p class="team-title">Founder | Front-End & Ruby Developer</p>
          <ul class="team-social-links">
            <li><a href="https://github.com/tonkec"><i class="fa fa-github-square fa-3x change-color"></i></a></li>
            <li><a href="http://codepen.io/tonkec/"><i class="fa fa-codepen fa-3x change-color"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/app/assets/images/Branko.JPG" alt="Branko" class="img-responsive team-image">
          <h4 class="team-name">Branko Arnaudovski</h4>
          <p class="team-title">Ruby Developer</p>
          <ul class="team-social-links">
            <li><a href="https://github.com/brarnaudovski"><i class="fa fa-github-square fa-3x change-color"></i></a></li>
            <li><a href="https://twitter.com/branko_a"><i class="fa fa-twitter-square fa-3x change-color"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/app/assets/images/Ro.jpg" alt="Ro" class="img-responsive team-image">
          <h4 class="team-name">Ro Liriano</h4>
          <p class="team-title">Designer & Front-End Developer</p>
          <ul class="team-social-links">
            <li><a href="https://github.com/seerocode"><i class="fa fa-github-square fa-3x change-color"></i></a></li>
            <li><a href="http://codepen.io/seerocode/"><i class="fa fa-codepen fa-3x change-color"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/app/assets/images/Margaret.jpg" alt="Margaret" class="img-responsive team-image">
          <h4 class="team-name">Margaret YJ Kim</h4>
          <p class="team-title">UX Designer and Fullstack Developer</p>
          <ul class="team-social-links">
            <li><a href="#"><i class="fa fa-github-square fa-3x change-color"></i></a></li>
            <li><a href="https://twitter.com/MargaretYJKim"><i class="fa fa-twitter-square fa-3x change-color"></i></a></li>
            <li><a href="https://ca.linkedin.com/in/margaretyjkim"><i class="fa fa-linkedin-square fa-3x change-color" aria-hidden="true"></i></a></li>
            <li><a href="http://www.margaretyjkim.com/"><i class="fa fa-external-link fa-2x change-color"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/app/assets/view/images/gwen.jpg" alt="Gwen" class="img-responsive team-image">
          <h4 class="team-name">Gwen Farady</h4>
          <p class="team-title">Ruby Developer</p>
          <ul class="team-social-links">
            <li><a href="https://twitter.com/gwen_faraday"><i class="fa fa-twitter-square fa-3x change-color"></i></a></li>
            <li><a href="https://www.linkedin.com/in/gwendolyn-faraday-1b57b824?trk=hp-identity-name"><i class="fa fa-linkedin-square fa-3x change-color"></i></a></li>
            <li><a href="http://gwenfaraday.com/"><i class="fa fa-external-link fa-2x change-color"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="https://unsplash.it/250/250" alt="Place Holder Image" class="img-responsive team-image">
          <h4 class="team-name">THIS COULD BE YOU!</h4>
          <p class="team-title">Join Our Team</p>
          <ul class="team-social-links">
            <li><a href="mailto:antonija1023@gmail.com"><i class="fa fa-envelope fa-3x change-color"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contribute" class="section-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>We are always looking for contributors, so feel free to reach out to us and let us know how you can help us change how the world learns to code.</h3>
        <button class="btn btn-dropline">Drop Us a Line</button>
      </div>
    </div>
  </div>
</section>
<footer class="white-background landing-footer">
    <div class="row">
       
      <div class="col-xs-12 col-sm-6">
        <ul class="footer-links">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign in", new_user_session_path %>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3">
        <div class="footer-copyright">
          <p class="copyright">
            Copyright 2016. <b>Help a noob.</b> All rights reserved
          </p>
        </div>
      </div> 

    </div>

    
  </footer>
