<%= render partial: "layouts/head_tags" %>
<div class="landing-wrapper">
  
  <%= render partial: "layouts/landing_navigation" %>

  <header class="landing-header">
    <%= render partial: "layouts/flash" %>

    <div class="landing-bg-wrap">
      <div class="header-bg-img bg-img slide-active"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
    </div>

    <div class="row landing-header-row">
      <div class="container">

        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <h1 class="landing-heading white-text">
            Get your questions answered without the judgement
          </h1>

          <p class="landing-subtext white-text">
            Newbies collaborate to answer your programming questions.
          </p>

          <%= link_to "Sign up", new_user_registration_path, class: "btn-landing orange" %>
          <%= link_to "Log in", new_user_session_path, class: "btn-landing white" %>
        </div>

      </div>
    </div>

  </header>

  <section class="light-blue-background text-center features" id="nav-offset">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-4 features-col">
          <i class="fa fa-search fa-landing white-text"></i>
          <h3 class="feature-title">Fast and accurate<br>
        search results</h3>
          <p>Search through questions and </p>
          <p> answers to easily find </p>
          <p> what you are looking for</p>
        </div>

      <div class="col-sm-12 col-md-4 features-col">
        <i class="fa fa-bell fa-landing white-text"></i>
        <h3 class="feature-title">Never miss out<br>
        on the conversation</h3>
        <p>Receive notifications via email </p>
        <p> when your question is answered </p>
        <p>  or you are mentioned</p>
      </div>

      <div class="col-sm-12 col-md-4 features-col">
        <i class="fa fa-comments-o fa-landing white-text"></i>
        <h3 class="feature-title">Direct Help From<br>
          Other coders</h3>
        <p> Need one-on-one assistance? </p>
        <p> Chat directly and privately </p>
        <p> with other members</p>
      </div>

    </div>
  </div>

  </section>


  <section class="white-background clearfix image-section" id="way">
  
      
    <div class="row">

      <div class="container">
         <div class="col-lg-4 image-text-col">

          <p class="section-paragraph">
            Help a fellow noob in programming troubles...
          </p>

          <ul class="img-desc">
            <li>bla bla</li>
            <li>bla</li>
          </ul>


        </div>

        <div class="col-lg-7 col-lg-offset-1 text-center img-col-right">
          <div class="section-bg-img first"></div>

        </div><!-- s-bg-img -->
      </div><!-- container -->

    </div><!-- row -->


  </section>  


  <section class="white-background clearfix image-section">
  
      
    <div class="row">

      <div class="container">

          <div class="col-lg-7 text-center img-col-left">
            <div class="section-bg-img second"></div>

          </div><!-- s-bg-img -->


         <div class="col-lg-4 col-lg-offset-1 image-text-col">

          <p class="section-paragraph">
            ...or ask anything you wants...
          </p>

          <ul class="img-desc">
            <li>no shame</li>
            <li>no judgement</li>
          </ul>

        </div>

        
      </div><!-- container -->

    </div><!-- row -->

  </section>  

  <section class="white-background clearfix image-section">
  
      
    <div class="row">

      <div class="container">
         <div class="col-lg-4 image-text-col">

          <p class="section-paragraph">
            ... and get your answers instantly!
          </p>

          <ul class="img-desc">
            <li>bla bla</li>
            <li>bla</li>
          </ul>

        </div>

        <div class="col-lg-7 col-lg-offset-1 text-center img-col-right">
          <div class="section-bg-img third"></div>

        </div><!-- s-bg-img -->
      </div><!-- container -->

    </div><!-- row -->


  </section>   


  <section class="light-blue-background form-section">
    
    <div class="row form-row text-center">
      
      <div class="container">
        
        <div class="col-lg-8 col-lg-offset-2">

          <div class="landing-form-wrapper">

            <h2>Join growing community!</h2>
            
            
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

            <%= devise_error_messages! %>

            <%= f.text_field :username, autofocus: true, placeholder: "Username"%>

            <%= f.email_field :email, autofocus: true, placeholder: "Email"%>

            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>


            <%= f.submit "Let's do it!", class: "btn" %>


            <% end %>


          </div><!-- f-wrapper -->

        </div><!-- col -->

      </div><!-- container -->

    </div><!-- row -->

  </section>

  <%= render partial: "layouts/footer" %>

</div><!-- landing wrapper -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.js"></script>
<script>
 $(document).ready(function(){


   $("body").css("background-color", "transparent");

   var imgs = $(".bg-img");
   i = -1;
   (function f(){
    i = (i + 1) % imgs.length;

    $(imgs).not(imgs[i]).removeClass("slide-active")
    $(imgs[ i ]).addClass("slide-active")
    setTimeout(f, 7000);
  })();


  $("body, html").scroll(function(){
    console.log("drk")
    var offset = $("#nav-offset").offset().top;
    if (offset < 100) {
      $("#nav").addClass("white-nav");
    } else {
      $("#nav").removeClass("white-nav");
    }

  });

  

 });

  

</script>