<%= render partial: "layouts/head_tags" %>
<div class="landing-wrapper">

  <%= render partial: "layouts/landing_navigation" %>

  <header class="landing-header">
    <%= render partial: "layouts/flash" %>

    <div class="landing-bg-wrap">
      <div class="header-bg-img bg-img slide-active"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
    </div>

    <div class="header-buttons-wrapper">

      <%= link_to "Sign up", new_user_registration_path, class: "btn-landing orange" %>
      <%= link_to "Log in", new_user_session_path, class: "btn-landing white" %>

    </div>

    <div class="row landing-header-row">
      <div class="container">

        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <h1 class="landing-heading white-text">
            Get your questions answered without the judgement
          </h1>

          <p class="landing-subtext white-text hidden-xs hidden-sm">
            Get answers to your programming questions for free.
          </p>


        </div>

      </div>
    </div>

  </header>

  <section class="light-blue-background text-center features" id="nav-offset">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-lg-4 col-lg-offset-1 features-col">
          <i class="fa fa-question fa-landing white-text"></i>
          <h3 class="feature-title">Stuck with coding problem?</h3>
          <p> Got no one to ask? </p>
          <p> Ashamed to ask? </p>
          <p> Don't know what to ask exactly?</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-2">
          <h3 class="feature-title middle">or</h3>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-4 features-col">
          <i class="fa fa-ambulance fa-landing white-text"></i>
          <h3 class="feature-title">Wanna help a noob?</h3>
          <p> Share your knowledge for free </p>
          <p> Help someone to learn </p>
          <p> We have all been there </p>
        </div>


    </div>

  </section>

  <section class="white-background clearfix image-section" id="way">


    <div class="row">

      <div class="container">
         <div class="col-xs-12 col-sm-12 col-lg-4 image-text-col">

          <p class="section-paragraph">
            Find a question you can help with...
          </p>

        </div>

        <div class="col-xs-12 col-sm-12 col-lg-7 col-lg-offset-1 text-center img-col-right">
          <div class="section-bg-img first"></div>

        </div><!-- s-bg-img -->
      </div><!-- container -->

    </div><!-- row -->


  </section>


  <section class="white-background clearfix image-section">


    <div class="row">

      <div class="container">

          <div class="col-lg-7 text-center img-col-left hidden-xs hidden-sm">
            <div class="section-bg-img second"></div>
          </div><!-- s-bg-img -->


          <div class="col-lg-4 col-lg-offset-1 image-text-col hidden-xs hidden-sm">

            <p class="section-paragraph">
              ...or ask anything you want...
            </p>
          </div>


          <div class="col-lg-4 col-lg-offset-1 image-text-col visible-xs visible-sm">

            <p class="section-paragraph">
              ...or ask anything you want...
            </p>
          </div>

          <div class="col-lg-7 text-center img-col-left visible-xs visible-sm">
            <div class="section-bg-img second"></div>
          </div><!-- s-bg-img -->

      </div><!-- container -->

    </div><!-- row -->

  </section>

  <section class="white-background clearfix image-section">


    <div class="row">

      <div class="container">
         <div class="col-lg-4 image-text-col">

          <p class="section-paragraph">
            ... and get your answers instantly!
          </p>

        </div>

        <div class="col-lg-7 col-lg-offset-1 text-center img-col-right">
          <div class="section-bg-img third"></div>

        </div><!-- s-bg-img -->
      </div><!-- container -->

    </div><!-- row -->


  </section>


  <section class="light-blue-background form-section">

    <div class="row form-row text-center">

      <div class="container">

        <div class="col-lg-8 col-lg-offset-2">

          <div class="landing-form-wrapper">

            <h2>Join growing community!</h2>


            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

            <%= devise_error_messages! %>

            <%= f.text_field :username,
              placeholder: "Username",
              data: {
                endpoint: signup_check_username_uniqueness_url
              } %>

            <%= f.email_field :email,
              placeholder: "Email",
              data: {
                endpoint: signup_check_email_uniqueness_url
              } %>

            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>


            <%= f.submit "Start asking questions!", class: "btn", id: "btn-signup" %>


            <% end %>


          </div><!-- f-wrapper -->

        </div><!-- col -->

      </div><!-- container -->

    </div><!-- row -->

  </section>

  <%= render partial: "layouts/footer" %>

</div><!-- landing wrapper -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.js"></script>
<script>
 $(document).ready(function(){
   $("body").css("background-color", "transparent");

   var imgs = $(".bg-img");
   i = -1;
   (function f(){
    i = (i + 1) % imgs.length;

    $(imgs).not(imgs[i]).removeClass("slide-active")
    $(imgs[ i ]).addClass("slide-active")
    setTimeout(f, 7000);
  })();

  $("body, html").scroll(function(){
    var offset = $("#nav-offset").offset().top;
    if (offset < 100) {
      $("#nav").addClass("white-nav");
    } else {
      $("#nav").removeClass("white-nav");
    }

  });
 });
</script>
