<%= render partial: "layouts/head_tags" %>
<%= render partial: "layouts/logo" %>

  <header class="landing-header">
    <%= render partial: "layouts/flash" %>


    <div class="bg-wrap">
      <div class="header-bg-img bg-img slide-active"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
    </div>
      
    <div class="row landing-top-row">
      <div class="container">

        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <h1 class="landing-heading white-text">
            Get your questions answered without the judgement
          </h1>

          <p class="landing-subtext white-text">
            Newbies collaborate to answer your programming questions.
          </p>

        </div>

      </div>
    </div>

  </header>

  <footer class="white-background landing-footer">
    <div class="row">
      <div class="cta-col col-xs-12 col-sm-6 p-xs-0 light-orange-background">
        <%= link_to "Sign up", new_user_registration_path %>
      </div>

      <div class="cta-col col-xs-12 col-sm-6 p-xs-0 light-blue-background">
        <%= link_to "Sign in", new_user_session_path %>
      </div> 

    </div>

    
  </footer>


<script>

  var imgs = $(".bg-img");
  i = -1;
  (function f(){
    i = (i + 1) % imgs.length;

    $(imgs).not(imgs[i]).removeClass("slide-active")
    $(imgs[ i ]).addClass("slide-active")
    setTimeout(f, 7000);
  })();



</script>