<% if user_signed_in? %>
  <h1>Welcome to simple app</h1> 
  <% @home_posts.each do |post| %>
    <p> <b>Desc:</b>  <%= post.description %></p>
    <p> <b>User:</b>  <%= post.user.email %></p>
    <% end %>
  <p>You are logged in with:  <%= current_user.email %> </p>
  <%= link_to "ask a question", new_post_path %>
  <%= link_to "sign out", sign_out_path, method: :delete %>
<% else %>
  <h1>Please <%= link_to "sign_in", sign_in_path %></h1>
<% end %>