<%= render partial: "layouts/head_tags" %>
<div class="landing-wrapper">
  <div class="top-links" id="top-waypoint">
    <div class="header-logo">

    </div><!-- logo -->

    <%= link_to "Login", new_user_session_path, class: "btn-bordered btn-landing-top text-uppercase" %>


  </div><!-- top-links -->
  <header class="landing-header">
    <%= render partial: "layouts/flash" %>


    <div class="bg-wrap">
      <div class="header-bg-img bg-img slide-active"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
    </div>
      
    <div class="row landing-top-row">
      <div class="container">

        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <h1 class="landing-heading white-text">
            Get your questions answered without the judgement
          </h1>

          <p class="landing-subtext white-text">
            Newbies collaborate to answer your programming questions.
          </p>

          <%= link_to "Sign up", new_user_registration_path, class: "btn-landing orange" %>
          <%= link_to "Log in", new_user_session_path, class: "btn-landing white" %>
          </div>

      </div>
    </div>

  </header>

  <section class="light-blue-background text-center features">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-4 features-col">
          <i class="fa fa-search fa-landing white-text"></i>
          <h3 class="feature-title">Fast and accurate<br>
        search results</h3>
          <p>Search through questions and </p>
          <p> answers to easily find </p>
          <p> what you are looking for</p>
        </div>

      <div class="col-sm-12 col-md-4 features-col">
        <i class="fa fa-bell fa-landing white-text"></i>
        <h3 class="feature-title">Never miss out<br>
        on the conversation</h3>
        <p>Receive notifications via email </p>
        <p> when your question is answered </p>
        <p>  or you are mentioned</p>
      </div>

      <div class="col-sm-12 col-md-4 features-col">
        <i class="fa fa-comments-o fa-landing white-text"></i>
        <h3 class="feature-title">Direct Help From<br>
          Other coders</h3>
        <p> Need one-on-one assistance? </p>
        <p> Chat directly and privately </p>
        <p> with other members</p>
      </div>

    </div>
  </div>

  </section>

  
  <section class="testemonial-section black-background">
    
    <div class="row">
      
      <div class="col-xs-12 col-sm-12 col-lg-6 landing-bg-img"></div> <!-- col -->

      <div class="col-xs-12 col-sm-12 col-lg-6 text-center">
        
        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
          <h3 class="testemonial-heading white-text">
            No matter what you are stuck on, we are here to help.
          </h3>
        </div>

       
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 swiper-col">
        
         <div class="swiper-container">
          <div class="swiper-wrapper">

            <div class="swiper-slide">

              <div class="swiper-content light-blue-background bubble">
                
                  <h5 class="swiper-heading">
                    "How do I vertically align content in my div?"
                  </h5>

              </div>

            </div>

            <div class="swiper-slide">

              <div class="swiper-content light-blue-background">
                
                <h5 class="swiper-heading">
                  "What is the difference between frontend and backend?"
                </h5>

              </div>

            </div>
            
            <div class="swiper-slide">

              <div class="swiper-content light-blue-background">
              
                <h5 class="swiper-heading">
                  "How to loop through an array?"
                </h5>

              </div>

            </div>

          </div><!-- wrapper -->

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div><!-- s-container -->


        </div>


      </div>  <!-- col -->

    </div>  <!-- row -->

  </section>

  <section class="orange-background signup-section">
    
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 text-center">
        <h2 class="join-us-heading">Join the <b>network of coders</b> taking their learning to the next level!</h2>
      </div>

      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-lg-4 col-lg-offset-4 text-center">
        <%= link_to "Sign up", new_user_registration_path, class: "btn-landing btn-landing-cta" %>
      </div>

    </div>

  </section>

  <section class="work-with-us black-background">
    
    <div class="row">
        
      <div class="col-sm-12 col-lg-6 landing-bg-img other">
      </div>

      <div class="col-sm-12 col-lg-6 text-col">
        <h3 class="text-uppercase white-text">Are you a ruby on rails developer?</h3>
        <h3 class="text-uppercase white-text">Come join our team!</h3>
        <h4 class="white-text">Send us <a href="mailto:antonija1023@gmail.com">message</a> and let's get coding</h4>
      </div>

    </div>

  </section>

  <footer class="white-background landing-footer">
    <div class="row">
       
      <div class="col-xs-12 col-sm-6">
        <ul class="footer-links">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign in", new_user_session_path %>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3">
        <div class="footer-copyright">
          <p class="copyright">
            Copyright 2016. <b>Help a noob.</b> All rights reserved
          </p>
        </div>
      </div> 

    </div>

    
  </footer>
</div><!-- landing wrapper -->


<script>
  $("body").css("background-color", "transparent");

  var imgs = $(".bg-img");
  i = -1;
  (function f(){
    i = (i + 1) % imgs.length;

    $(imgs).not(imgs[i]).removeClass("slide-active")
    $(imgs[ i ]).addClass("slide-active")
    setTimeout(f, 7000);
  })();

  var swiper = new Swiper('.swiper-container', {
    paginationClickable: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    speed: 500,
    keyboardControl: true,
    loop: true,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: 5000
  });


</script>