<div class="bg-wrap">
  <div class="cb-slideshow">
    <div><span>Image 01</span></div>
    <div><span>Image 02</span></div>
    <div><span>Image 03</span></div>
    <div><span>Image 04</span></div>
    <div><span>Image 05</span></div>
    <div><span>Image 06</span></div>
  </div>
  <div class="bg-wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h1 class="signup-heading">Join Us!</h1> 
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Repeat Password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
        <% end %>
        <%= link_to "Sign In", new_user_session_path, class: "bottom-text" %>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- signup-wrapper -->
</div><!--bg-wrap-->