<% content_for :body_class, "light-blue-background signup" %>
<%= render partial: "layouts/logo" %>
  
  <div class="row row-devise">

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-xl-6 col-xl-offset-3">
      <h1 class="white-text signup-heading">Sign Up!</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.text_field :username, autofocus: true, placeholder: "Username", class: "orange-input-new" %>

      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "orange-input-new"%>

      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "orange-input-new" %>

      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password",  class: "orange-input-new" %>


      <%= f.submit "Let's do it!", class: "btn-signup" %>

      <%= render "devise/shared/links" %>

      <% end %>


    </div>

  </div><!-- row -->
