 <div class="main-col comments-col">
  <h1>Post ID <%= @post.id %></h1>
   <div class="col-xs-12 col-sm-10 p-l-0 p-r-0">
    <p class="comment-content">
      <% if comment.user_id == current_user.id %>
        <%= best_in_place comment, :content, :url => post_comment_path(@post, comment) %>
        <i class="fa fa-pencil"></i>
      <% else %>
        <%= comment.content %> 
      <% end %>
    </p>
  </div>   
    <%= comment.id %>

  <div class="col-xs-12 col-sm-2">
    <%= link_to like_post_comment_path(@post, comment), :remote => true, class: "like", id: "comment_like", method: :put do %>
    <i class="fa fa-heart main-question-icon" id="heart">
    </i>
    <% end %>

    <%= link_to dislike_post_comment_path(@post, comment), :remote => true, class: "like hidden", id: "comment_dislike", method: :put do %>
    <i class="fa fa-heart main-question-icon" id="heart">
    </i>
    <% end %>

    <span class="number-of-votes" id="comment_number_of_votes">
     <%= comment.cached_weighted_score %><br />
   </span>

 </div>

  <div class="col-xs-12 col-sm-12 p-l-0 p-r-0">
    <span class="comment-email green-text">
      <%#= link_to comment.user.email, user_path(comment.user), class: "green-text" %>
    </span>
    <span class="comment-date">
      <%= comment.created_at.to_formatted_s(:short) %>
    </span>

    <% if comment.user_id == current_user.id %>
      <%= link_to 'Delete Comment', [comment.post, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' }, class: "green-text delete-comment" %>
    <% end %>
  </div>
</div>