<div class="main-col comments-col" id="<%= comment.id %>">
  <div class="col-xs-12 col-sm-10 p-l-0 p-r-0">
    <p class="comment-content">
      <%= comment.content %>
        
      <%= link_to "See post", post_path(comment.post) if @comment_link %>
    </p>
  </div>   
  
  <div class="like-icons-comment">
    
    <% if current_user.voted_up_on? comment %>
      <%= link_to dislike_post_comment_path(comment.post, comment), :remote => true, class: "like", id: "comment_dislike-#{comment.id}", method: :put do %>
      <span class="icon-elegant-font-266-10162"></span>
      <% end %>

      <%= link_to like_post_comment_path(comment.post, comment), :remote => true, class: "like hidden", id: "comment_like-#{comment.id}", method: :put do %>
      <span class="icon-elegant-font-266-10162"></span>
      <% end %>

    <% else %>

      <%= link_to dislike_post_comment_path(comment.post, comment), :remote => true, class: "like hidden", id: "comment_dislike-#{comment.id}", method: :put do %>
      <span class="icon-elegant-font-266-10162"></span>
      <% end %>

      <%= link_to like_post_comment_path(comment.post, comment), :remote => true, class: "like", id: "comment_like-#{comment.id}", method: :put do %>
      <span class="icon-elegant-font-266-10162"></span>
      <% end %>

    <% end %>

    <span class="number-of-votes comment" id="comment_number_of_votes-<%=comment.id%>">
      <%= comment.cached_weighted_score %><br />
    </span>



  </div><!-- col -->

  <div class="col-xs-12 col-sm-12 p-l-0 p-r-0">
    <h5 class="comment-email orange-link">
      <%= link_to comment.user.username, user_path(comment.user)%>
    </h5>
  
   
    <h6 class="comment-date">
      <span class="icon-elegant-font-270-10173 post-icon light-orange-text"></span> 
      <%= time_ago_in_words(comment.created_at)%> ago
    </h6>

    <div class="comment-editable-links">
      <% if comment.user_id == current_user.id %>
      <span class="orange-link">
        <%= link_to edit_post_comment_path(comment.post, comment), remote: true, 'data-target' => "#editcomment-#{comment.id}", 'data-toggle' => "modal" do %>
        <span class="icon-elegant-font-250-10020 edit-icon"></span>
      <% end %>
      </span>
      
      <span class="orange-link">
        <a href="" class: "delete_comment" data-target="#deletecomment-<%= comment.id %>" data-toggle="modal">
          <span class="icon-elegant-font-3-7491 delete-icon"></span>
        </a>
      </span>
    <% end %>
    </div>
  </div> <!-- col -->

<!-- Modal -->
<div class="modal fade" id="editcomment-<%=comment.id%>" tabindex="-1" role="dialog" aria-labelledby="editComment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editComment">
         Edit comment
        </h4>
      </div><!-- header -->
      <div class="modal-body">
        <%= form_for([comment.post, comment], :method => :put, remote: true) do |f| %>
          <%= f.text_area :content, class: "orange-input input-full" %>
          <%= f.submit "Update", class: "btn-orange btn-submit-modal" %>
          <button type="button" class="btn-orange-link btn-modal-close" data-dismiss="modal">Close</button>
           <% end %>
          
      </div><!-- body -->
     
    </div><!-- content -->
  </div><!-- dialog -->
</div><!-- modal -->


  <!--Delete post Modal -->
    <div class="modal fade edit-post-modal" id="deletecomment-<%=comment.id%>" tabindex="-1" role="dialog" aria-labelledby="deleteComment">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">  
            <h2>Are you sure you want to delete this comment?</h2>
            <div class="modal-delete-btns">
              <%= link_to 'Delete Comment', [comment.post, comment], method: :delete, remote: true, class: "btn-orange btn-submit-modal", 'data-dismiss' => 'modal' %>
            <button type="button" class="btn-orange-link btn-modal-close" data-dismiss="modal">No</button>
            </div>
          </div><!-- modal body -->
      </div>  <!-- modal content -->
    </div> <!-- modal dialog -->
    </div> <!-- modal-fade -->

</div><!-- main-col -->