 <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main-col comments-col">
<%= @comment.content %>
<%= form_for([@post, @comment]) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Update", class: "btn-green" %>
<% end %>
 </div>

 <%= debug(params)%>