<div class="row row-conversations">
  <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-lg-3 messages-col p-l-0 p-r-0">
    <ul class="nav nav-pills nav-stacked orange-pills">
      <li >
        <a href="#new_message" data-toggle="tab" class="new-message">
          Compose Message
        </a>
      </li>
      <%#= render template: "messages/new" %>
      <%= mailbox_section 'inbox', @box %>
      <%= mailbox_section 'sent', @box %>
      <%= mailbox_section 'trash', @box %>
    </ul>

    

  </div>

  <div class="col-sm-9 messages-col">
    <% if @box == 'trash' %>
      <p class="trash-holder">
        <%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-orange btn-delete-message', method: :delete,
       data: {confirm: 'Are you sure?'} %>
      </p>
     <% end %>
      <div class="tab-content">

        <div class="tab-pane list-group-item message-item" id="new_message">
          <%= render template: "messages/new" %>  
        </div><!-- tab-pane -->

      </div><!-- tab-content -->
    <ul class="list-group">
      
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </ul>

  </div>
</div>

<script>
  $(".new-message").click(function(){
    $(".list-group").hide();
  })
</script>