<div class="row">
    <h1><%= current_user.email %></h1>
    <%= form_for(current_user) do |f| %> 
      <% current_user.errors.full_messages.each do |message| %>
        <h1><%= message %></h1>
      <% end %>
    <%= f.label :first_name %> 
    <%= f.text_field :first_name %> <br />

    <%= f.label :last_name %> 
    <%= f.text_field :last_name %> <br />

    <%= f.label :username %> 
    <%= f.text_field :username %> <br />
    <%= f.label :introduction %> 
    <%= f.text_area :introduction %> <br />
    <%= f.label :experience %> 
    <%= f.number_field :experience %> <br />
    <%= f.label :avatar %> 
    <%= f.file_field :avatar %> <br />
    <%= f.label :website %> 
    <%= f.text_field :website %> <br />
    <%= f.label :first_social_link %> 
    <%= f.text_field :first_social_link %> <br />
    <%= f.label :second_social_link %> 
    <%= f.text_field :second_social_link %> <br />
    <%= f.label :third_social_link %> 
    <%= f.text_field :third_social_link %> <br />
    <%= f.label :first_learning_platform %> 
    <%= f.text_field :first_learning_platform %> <br />
     <%= f.label :second_learning_platform %> 
    <%= f.text_field :second_learning_platform %> <br />
     <%= f.label :third_learning_platform %> 
    <%= f.text_field :third_learning_platform %> <br />
    <%= f.submit %>
    <% end %>
</div>