<div class="row">
  <div class="col-lg-6 col-lg-offset-6">
    <%= form_for(@user) do |f| %> 
      <% @user.errors.full_messages.each do |message| %>
        <h1><%= message %></h1>
      <% end %>
    <%= f.label :first_name %> 
    <%= f.text_field :first_name %> <br />

    <%= f.label :last_name %> 
    <%= f.text_field :last_name %> <br />

    <%= f.label :nickname %> 
    <%= f.text_field :nickname %> <br />
    <%= f.label :avatar %> 
    <%= f.file_field :avatar %> <br />
    <%= f.submit %>
    <% end %>
  </div>
</div>