<div class="row user-profile-row">

  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-3 home-col p-l-0 p-r-0">
    <%= debug(params) %>
    <h1 class="user-name">
     <%= current_user.name %>
    </h1>

    <%= image_tag(current_user.avatar) %>
    <%= current_user.email %>
  </div>
</div>


<div class="row user-posts-row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-3 home-col p-l-0 p-r-0">
    <h2>Your posts</h2>
    <h4>Number of posts: <%= @user_posts.all.count %></h4> 
    <% @user_posts.each do |post| %>
    <li id="post-<%= post.id %>">

      <span class="user"><%= link_to post.title, post%></span>
      <span class="content"><%= post.description %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(post.created_at) %> ago.
      </span>
    </li>
    <% end %>
  </div>
</div>

