<div class="profile-wrapper clearfix">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="myTabs">
    <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
    <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">Questions</a></li>
    <li role="presentation"><a href="#answers" aria-controls="messages" role="tab" data-toggle="tab">Answers</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="about">

      <div class="float white-background tab-float">

        <div class="col-lg-4 profile-img-col text-center">
          <%= image_tag(current_user.avatar, class: "profile-image" ) %>
  
          <div class="user-names">
            <h5 class="user-name">
              <%= current_user.first_name %>
              <%= current_user.last_name %>
            </h5>         

            <h5 class="user-username lightblue-text">
              <%= current_user.username %>
            </h5>
          </div><!-- user-names -->

          <div class="other-info">
            <h6 class="black-text">
              Experience: <b><%= pluralize(current_user.experience, "year") %> </b> 
            </h6>

            <h6 class="black-text user-website dark-dark-link">
              Go to <b><%= current_user.website_link(current_user.website) %> </b> 
            </h6>  
          </div> <!-- other-info -->       


        </div><!-- col -->

        <div class="col-lg-8 profile-right-col">
          <div class="col-xs-12 p-l-0 p-r-0 dark-dark-link">
           <%= current_user.social_link(current_user.first_social_link) %>
           <%= current_user.social_link(current_user.second_social_link) %>
           <%= current_user.social_link(current_user.third_social_link) %>
          </div><!-- colxs12 -->

          <div class="col-xs-12 p-l-0 p-r-0 dark-dark-link">
             <%= current_user.social_link(current_user.first_learning_platform) %>
             <%= current_user.social_link(current_user.second_learning_platform) %>
             <%= current_user.social_link(current_user.third_learning_platform) %>
           </div><!-- col -->
          <div class="col-xs-12 p-l-0 p-r-0">
            <div class="profile-introduction break-text dark-dark-link">
              <h5>Introduction</h5>
              <% if current_user.introduction.blank? %>
              <%= link_to "Nothing yet? Tell us something about yourself!", edit_profile_path %>
              <% else %>
              <p class="profile-introduction-text black-text">
                <%= current_user.introduction %>
              </p>
              <% end %>
            </div><!-- profile-intro -->
          </div><!-- col xs12 -->
          <h5 class="profile-heading-margin clearfix">Skills</h5>

          <div class="col-xs-12 p-l-0 p-r-0" id="skills-col">
            <div class="row dark-dark-link">
              <%= render @skills %>
              <%= link_to "Add new skill", new_user_skill_path(current_user, @new_skill), remote: true, class: "hidden-xs skill-add-more-link",  'data-target' => "#new_skill", 'data-toggle' => "modal" %> 
            </div>
          </div><!-- skills-col -->

          <div class="visible-xs col-xs-12 p-l-0 p-r-0 text-left dark-dark-link">
          <%= link_to "Add new skill", new_user_skill_path(current_user, @new_skill), remote: true, class: "visible-xs skill-add-more-link",  'data-target' => "#new_skill", 'data-toggle' => "modal" %>     
          </div>

        
        </div><!-- prof-right-col -->

     </div><!-- float -->


   </div><!-- about -->

   <div role="tabpanel" class="tab-pane fade" id="questions">

    <div class="float">

      <div class="col-lg-12 dark-dark-link p-l-0 p-r-0"> 
        <% if @posts.any? %>
          <%= render @posts %>
        <% else %>
          <%= link_to "Ask a qustion", new_post_path %>
        <% end %>

        <a href="" class="btn-light-blue btn-full clearfix">View more</a>
    </div><!-- col -->

  </div><!-- float -->


</div> <!-- questions -->

<div role="tabpanel" class="tab-pane fade" id="answers">
  A
</div><!-- answers -->

<div role="tabpanel" class="tab-pane fade" id="settings">
  <div class="user-edit-icon">
    <%= link_to edit_profile_path  do%>
      <span class="icon-elegant-font-250-10020"></span>
    <% end %>
  </div><!-- user-edit-icon -->

</div><!-- settings -->
</div><!-- tab panes -->

</div>


</div><!-- float  -->





</div><!-- profile-wrapper -->

<!-- Modal -->
<div class="modal fade" id="new_skill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Add new skill</h5>
      </div>
      <div class="modal-body">
        <%= render partial: "skills/form" %>
      </div><!-- modal-body -->
    </div>
  </div>
</div>

<script>

  $('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
  var skill = $(".skill-strength-overlay");

  for (i = 0; i < skill.length; i++) {
    var one_skill = skill[i]
    var width = $(one_skill).data();
    var width_percentage = width.value + "%"
    $(one_skill).css("width", width_percentage);

  };
 
</script>