<div class="profile-wrapper clearfix">
  <div class="user-edit-icon">
    <%= link_to edit_profile_path  do%>
      <span class="icon-elegant-font-250-10020"></span>
    <% end %>
  </div><!-- user-edit-icon -->

  <div class="float profile-upper-container p-l-0 p-r-0">
    <div class="col-lg-4">
      <%= image_tag(current_user.avatar, class: "profile-image" ) %>
      <p class="profile-names">
        <% if current_user.first_name.nil? %>
           <%= link_to "Add more info", edit_profile_path %>
        <% else %>
          <%= current_user.first_name %>
          <%= current_user.last_name %>
        <% end %>
      </p>
      <h5 class="profile-username">
        User: <b><%= current_user.username %></b>
      </h5>
      <h5 class="profile-username">
        You have been coding for: <b><%= pluralize(current_user.experience, "year") %></b>
      </h5>

      
    </div><!-- col -->


    <div class="col-lg-8">
      <div class="profile-introduction dark-dark-link">
        <h4 class="about-you-profile text-dark-blue">About you: </h4>
        <% if current_user.introduction.empty? %>
          <%= link_to "Nothing yet? Tell us something about yourself!", edit_profile_path %>
        <% else %>
        <p class="profile-introduction-text">
          <%= current_user.introduction %>
        </p>
        <% end %>
      </div><!-- profile-intro -->
    </div> <!-- col -->

    <div class="col-lg-12">
      <p>Your social links</p>
      <%= current_user.social_link(current_user.first_social_link) %>
      <%= current_user.social_link(current_user.second_social_link) %>
      <%= current_user.social_link(current_user.third_social_link) %>
      <p>Links to your learning platforms</p>
      <%= current_user.social_link(current_user.first_learning_platform) %>
      <%= current_user.social_link(current_user.second_learning_platform) %>
      <%= current_user.social_link(current_user.third_learning_platform) %>
    </div><!-- col -->

    <div class="col-lg-12">
      <%= render @skills %>
      <%= link_to "add more skills", new_user_skill_path(current_user, @new_skill), remote: true %>
    </div>

  </div><!-- float -->


  <div class="float">
    
    <div class="col-lg-12"> 
      <h2>Your last post</h2>

      <div class="user-post-container">
        <h4 class="profile-post-title dark-dark-link">
         <%= link_to @user_post.title, post_path(@user_post) %>
        </h4>

        <p class="profile-post-description text-dark-blue">
          <%= @user_post.description %>
        </p>

        <p class="text-dark-blue user-post-info">
          <i class="fa fa-heart main-question-icon" id="heart"></i>
          <%= @user_post.cached_weighted_score %>
        </p>

        <p class="text-dark-blue user-post-info">
          <span class="icon-elegant-font-208-9915 icon-comments"></span>
          <%= @user_post.comments.count %>
        </p>

        <p class="text-dark-blue user-post-info">
          <i class="fa fa-clock-o"></i>  
          <%= time_ago_in_words(@user_post.created_at) %> ago
        </p>
      </div><!-- user-post-container -->
       

      <span class="dark-dark-link">
        <%= link_to your_posts_path, class: "btn-profile" do %>
        <span>
          See all of your post here
        </span>
        <i class="fa fa-long-arrow-right profile-long-arrow"></i>
      <% end %>
      </span>
    </div><!-- col -->
  </div><!-- float -->


  

</div><!-- profile-wrapper -->