<div class="profile-wrapper clearfix">
  
  <div class="float p-l-0 p-r-0">
    <div class="col-lg-4">
      <%= image_tag(current_user.avatar) %>
      <h1 class="user-name">
        <%= current_user.name %>
      </h1>
      <p class="user-email">
        <%= current_user.email %>
      </p>
    </div>

    <div class="col-lg-8">
      <div class="profile-description">
       <p> Hello!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ipsam sint quo perspiciatis voluptate corporis cumque porro inventore ex expedita dicta at quos, velit, ducimus nesciunt eligendi. Fugit delectus harum, officia, consequuntur et reprehenderit accusantium. Nesciunt corporis aperiam tenetur iusto modi autem libero ratione, dolorem earum quaerat eligendi nihil eum?</p>
      </div>
    </div>
  </div><!-- float -->


  <div class="float p-l-0 p-r-0">
    <h4 class="user-model-heading">Your posts (<%= @user_posts_count %>)</h4>

   <div class="col-lg-12 p-l-0 p-r-0" id="user_posts">
      <% if @user_posts.any? %>
        <%= render @posts %>
      <% else %>
        <h3 class="dontbeshy">
          Don't be shy.
        </h3>

        <%= link_to "Ask a question", new_post_path, class: "btn-green btn-small" %>
      <% end %>

    
      <%= paginate @user_posts%>

    </div><!-- col -->
    
  </div><!-- float -->

  <div class="float">
    <% if @user_comments.any? %>
    <h4 class="user-model-heading">Here is some of your latest comments:</h4>

    <div class="col-lg-12 profile-comments-col p-l-0 p-r-0">
    <% @user_comments.each do |c| %>
      <div class="user-model-col">
        <p class="user-profile-comment"><%= c.content %></p>
        <%= c.id %>
      </div>
      <% end %>
    </div>

   
    <% end %>
  </div>

</div><!-- profile-wrapper -->