<div class="profile-wrapper clearfix">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="myTabs">
    <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
    <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">Questions</a></li>
    <li role="presentation"><a href="#answers" aria-controls="messages" role="tab" data-toggle="tab">Answers</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="about">

      <div class="float white-background tab-float">

        <div class="col-lg-4 profile-img-col text-center">
          <%= image_tag(current_user.avatar, class: "profile-image" ) %>
  
          <h4 class="user-name">
            <%= current_user.first_name %>
            <%= current_user.last_name %>
          </h4>         
           
          <h5 class="user-username lightblue-text">
              <%= current_user.username %>
          </h5>
          

          <div class="col-xs-12 p-l-0 p-r-0" id="skills-col">
            <div class="row">
              <%= render @skills %>
            </div>
          </div><!-- skills-col -->

          <div class="col-xs-12 p-l-0 p-r-0 text-left dark-dark-link">
            <%= link_to "Add skill", new_user_skill_path(current_user, @new_skill), remote: true, class: "skill-add-more-link",  'data-target' => "#new_skill", 'data-toggle' => "modal" %>        
          </div>


        </div><!-- col -->

        <div class="col-lg-8">
          <div class="col-xs-12 p-l-0 p-r-0">
           <%= current_user.social_link(current_user.first_social_link) %>
           <%= current_user.social_link(current_user.second_social_link) %>
           <%= current_user.social_link(current_user.third_social_link) %>
          </div><!-- colxs12 -->

          <div class="col-xs-12 p-l-0 p-r-0">
             <%= current_user.social_link(current_user.first_learning_platform) %>
             <%= current_user.social_link(current_user.second_learning_platform) %>
             <%= current_user.social_link(current_user.third_learning_platform) %>
           </div><!-- col -->
          <div class="col-xs-12 p-l-0 p-r-0">
            <div class="profile-introduction break-text dark-dark-link">
              <h4>Introduction</h4>
              <% if current_user.introduction.blank? %>
              <%= link_to "Nothing yet? Tell us something about yourself!", edit_profile_path %>
              <% else %>
              <p class="profile-introduction-text">
                <%= current_user.introduction %>
              </p>
              <% end %>
            </div><!-- profile-intro -->
          </div><!-- col xs12 -->

        
        </div><!-- col -->

     </div><!-- float -->


   </div><!-- about -->

   <div role="tabpanel" class="tab-pane fade" id="questions">

    <div class="float">

      <div class="col-lg-12"> 
        <h2>Your last post</h2>

        <div class="user-post-container">
          <h4 class="profile-post-title dark-dark-link">
           <%= link_to @user_post.title, post_path(@user_post) %>
         </h4>

         <p class="profile-post-description text-dark-blue">
          <%= @user_post.description %>
        </p>

        <p class="text-dark-blue user-post-info">
          <i class="fa fa-heart main-question-icon" id="heart"></i>
          <%= @user_post.cached_weighted_score %>
        </p>

        <p class="text-dark-blue user-post-info">
          <span class="icon-elegant-font-208-9915 icon-comments"></span>
          <%= @user_post.comments.count %>
        </p>

        <p class="text-dark-blue user-post-info">
          <i class="fa fa-clock-o"></i>  
          <%= time_ago_in_words(@user_post.created_at) %> ago
        </p>
      </div><!-- user-post-container -->


      <span class="dark-dark-link">
        <%= link_to your_posts_path, class: "btn-profile" do %>
        <span>
          See all of your post here
        </span>
        <i class="fa fa-long-arrow-right profile-long-arrow"></i>
        <% end %>
      </span>
    </div><!-- col -->
  </div><!-- float -->


</div> <!-- questions -->

<div role="tabpanel" class="tab-pane fade" id="answers">
  A
</div><!-- answers -->

<div role="tabpanel" class="tab-pane fade" id="settings">
  <div class="user-edit-icon">
    <%= link_to edit_profile_path  do%>
      <span class="icon-elegant-font-250-10020"></span>
    <% end %>
  </div><!-- user-edit-icon -->

</div><!-- settings -->
</div><!-- tab panes -->

</div>


</div><!-- float  -->





</div><!-- profile-wrapper -->

<!-- Modal -->
<div class="modal fade" id="new_skill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new skill</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "skills/form" %>
      </div><!-- modal-body -->
    </div>
  </div>
</div>

<script>

  $('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
  var skill = $(".skill-strength-overlay");

  for (i = 0; i < skill.length; i++) {
    var one_skill = skill[i]
    var width = $(one_skill).data();
    var width_percentage = width.value + "%"
    $(one_skill).css("width", width_percentage);

  };
 
</script>