<div class="float p-l-0 p-r-0">
  <b>email:</b> <%= @user.email %><br />
  <b>avatar</b> <%= @user.avatar %><br />
  <b>id</b> <%= @user.id %><br />
  <b>posts: </b> <%= @user.posts.count %>
  <% @user.posts.each do |p| %>
  <p><%= p.description %></p><br />
  <% end %>
</div>
