<% content_for :body_class, "light-blue-background button-layout" %>
<%= render partial: "layouts/logo" %>

<div class="row row-devise">

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-xl-6 col-xl-offset-3">
      <h1 class="white-text signup-heading small">Forgot password?</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, autofocus: true, class: "orange-input-new" %>

      <%= f.submit "Send me reset password instructions", class: "btn-signup" %>

      <%= render "devise/shared/links" %>
      <% end %>


    </div>

  </div><!-- row -->

