  <div class="col-xs-3 col-sm-2 p-l-0 p-r-0 skill-col">
    <span class="small skill skill-<%= skill.name%>">
      <%= skill.name %>
      <span class="skill-strength-overlay" data-value="<%= skill.strength %>" id="<%= skill.id%>"></span>
      <span class="skill-delete-overlay">
        <%= link_to [skill.user, skill], method: :delete  do %>
        <span class="icon-elegant-font-150-8783 skill-delete"></span>
        <% end %>
      </span>
    </span>
  </div><!-- col-lg-2 -->
