<div id="content" id="content-<%= object.id %>">

  <div class="main-post-col" id="post-col-<%= object.id %>">
    <div class="col-xs-12 col-sm-10 p-l-o p-r-0">
      <h3 class="post-title">
        <%= link_to object.title, post_path(object) %>
      </h3>

      <h1>
        <%= object.id %>
      </h1>

      <p class="post-description">
        <%= object.description %>
      </p>
      <%#= render "like" unless @disable_like %>

    </div><!-- col -->

    <%#= render_shareable %>

    <div class="col-xs-12 col-sm-12 p-r-0 post-subinfo">
      <%=link_to object.user.email, user_path(object.user), class: "light-orange-text" %>
      <p class="post-date">
        <%= time_ago_in_words(object.created_at) %> ago
      </p>
      <p>
        Tags: <%= raw object.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

      </p>

      <div class="posts-editable-links col-lg-2 col-lg-offset-10 p-l-0 p-r-0 text-center">
        <% if object.user.id == object_user.id %>
        <%= link_to 'Edit', edit_post_path(object), remote: true, class: "edit-post", 'data-target' => "#editpost-#{object.id}", 'data-toggle' => "modal" %>
        <a href="" class: "delete_post" data-target="#deletepost-<%= object.id %>" data-toggle="modal">Destroy</a>
        
        <% end %>
      </div>
    </div><!--post-subinfo  -->

    <!--Edit post Modal -->
    <div class="modal fade edit-post-modal" id="editpost-<%=object.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div><!-- modal header -->
          
          <div class="modal-body">
            <%= form_for(object, :method => :put, remote: true) do |f| %>
              <div class="field">
                <%= f.text_field :title, class: "green-input form-control", placeholder: "Title" %>
                <%= f.text_area :description, class: "green-textarea form-control", placeholder: "Ask a question" %>
              </div>

              <div class="field">
                <%= f.file_field :image %>
              </div>
              
              <div class="actions">
                <%= f.submit "Update", class: "btn-full btn-green" %>
              </div>
            <% end %>
        </div><!-- modal body -->
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div><!-- modal footer -->
      </div>  <!-- modal content -->
    </div> <!-- modal dialog -->
    </div> <!-- modal-fade -->


     <!--Delete post Modal -->
    <div class="modal fade edit-post-modal" id="deletepost-<%=object.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">  
              <h1>Are you sure you want to delete this post?</h1>
              <p>
                <%= object.title %>
              </p>

          </div><!-- modal body -->
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <%= link_to 'Yes', object, method: :delete, class: "delete_post btn btn-primary" %>
        </div><!-- modal footer -->
      </div>  <!-- modal content -->
    </div> <!-- modal dialog -->
    </div> <!-- modal-fade -->


  </div>  <!-- main-post-col -->
</div><!-- content -->