<%= form_for(@post) do |f| %>
  
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.text_field :title, class: "input-full blue-input blue-bg-input", placeholder: "Title" %>
   <%= f.text_area :description, class: "input-full blue-input blue-bg-input", placeholder: "Ask a question" %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.autocomplete_field :tag_list, autocomplete_tag_name_posts_path, :"data-delimiter" => ', ',  'data-auto-focus' => true  %>    
  </div>
  <div class="field avatar">
    <label>My Avatar</label>
    <%= f.file_field :images, multiple: true, class: "multiple-input", id: "fileupload" %>
    <%= f.hidden_field :images_cache, class: "cache" %>
  </div>
  <div class="actions">
    <%= f.submit "Ask", class: "btn-light-blue btn-full btn-submit" %>
  </div>
<% end %>