
<%= form_for(@post, :html => {:class => "post-form"} ) do |f| %>

<%= render "shared/error_messages", object: @post %>

<%= f.text_field :title, class: "input-full orange-input input-padding no-margin", placeholder: "Title" %>
<%= f.bootsy_area :description, class: "input-full input-padding large-textarea no-margin", placeholder: "Ask a question" %>
<%= f.autocomplete_field :tag_list, autocomplete_tag_name_posts_path, :"data-delimiter" => ', ',  'data-auto-focus' => true, class: "post-tags", placeholder: "Tags separated by commas" %>

<p class="tag-list">
  <b>Available tags:</b>
  <span class="tag">jquery</span>
  <span class="tag">ruby</span>
  <span class="tag">rails</span>
  <span class="tag">php</span>
  <span class="tag">css</span>
  <span class="tag">html</span>
  <span class="tag">javascript</span>
  <span class="tag">sql</span>
  <span class="tag">react</span>
  <span class="tag">angular</span>
  <span class="tag">python</span>
  <span class="tag">node</span>
  <span class="tag">other</span>
</p>

<%= f.submit "Ask", class: "btn-orange btn-ask" %>
<% end %>

