<%= form_for(@post) do |f| %>
  <%# if @post.tag_list.empty? %>
    <p class="tags-list">
       Allowed tags: <%# @existing_tag_list_array.each  do |tag|%>
      <span class="tag <%#= tag %>">
        <%#= tag %>
      </span>
      <%# end %>
    </p>
  <%# end %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.text_field :title, class: "green-input form-control", placeholder: "Title" %>
   <%= f.text_area :description, class: "green-textarea form-control", placeholder: "Ask a question" %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.autocomplete_field :tag_list, autocomplete_tag_name_posts_path, :"data-delimiter" => ', ' %>
    <%= @post.tag_list %>  
  </div>
  <div class="field">
    <label>My Avatar</label>
    <%= f.file_field :images, multiple: true %>
  </div>
  <div class="actions">
    <%= f.submit "Ask", class: "btn-full btn-green" %>
  </div>
<% end %>
