<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.text_field :title, class: "new-question-form form-control", placeholder: "Title" %>
    <%= f.text_area :description, class: "new-question-form form-control", placeholder: "Ask a question" %>
  </div>
  <div class="actions">
    <%= f.submit "Ask", class: "btn-full" %>
  </div>
<% end %>
