<%= form_for(@post) do |f| %>
  
  <%= render "shared/error_messages", object: @post %>

  <div class="field">
   <%= f.text_field :title, class: "input-full orange-input input-padding no-margin", placeholder: "Title" %>
   <%= f.text_area :description, class: "input-full orange-input input-padding no-margin", placeholder: "Ask a question" %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.autocomplete_field :tag_list, autocomplete_tag_name_posts_path, :"data-delimiter" => ', ',  'data-auto-focus' => true  %>    
  </div>
  <div class="field avatar">
    <label>My Avatar</label>
    <%= f.file_field :images, multiple: true, class: "multiple-input", id: "fileupload" %>
    <%= f.hidden_field :images_cache, class: "cache" %>
  </div>
  <div class="actions">
    <%= f.submit "Ask", class: "btn-orange btn-ask btn-submit" %>
  </div>
<% end %>