<% @posts.each do |p| %>

  <div class="col-xs-12 col-sm-12 main-post-col" style="border: 1px solid orange;">
    <p>
      Post: <%= link_to truncate(p.title, length: 300), post_path(p) %>
    </p>
    <p>
      Id: <%= p.id %>
    </p>

    <p>
      User: <%= link_to p.user.email, user_path(p.user) %>
    </p>

    <p>
      Tags: <%= raw p.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>

    <p>
      Time: <%= time_ago_in_words(p.created_at) %>
    </p>

    <p>
      <b>Answers</b> <%= p.comments.count %>
    </p>

  </div>
<% end %>