<% @posts.each do |p| %>
  <div class="col-xs-12 col-sm-12 col-lg-8 main-post-col white-background padding-col">
    <h4 class="dark-orange-link post-title">
      <%= link_to truncate(p.title, length: 100), post_path(p) %>
    </h4>
    
    <p class="post-description">
      <%= truncate(p.description, length: 100) %>
    </p>

    <h5 class="dark-orange-link">
      <%= link_to p.user.username, user_path(p.user) %>
    </h5>

    <h6 class="post-info first">
       <span class="icon-elegant-font-270-10173 post-icon light-orange-text"></span> <%= time_ago_in_words(p.created_at) %> ago
    </h6>

    <h6 class="post-info">
       <span class="icon-elegant-font-208-9915 post-icon light-orange-text"></span> <%= p.comments.count %>
    </h6>

    <h6 class="post-info">
       <span class="icon-elegant-font-266-10162 post-icon light-orange-text"></span> <%= p.cached_weighted_score %>
    </h6>

    <h6 class="tags">
      <%= raw p.tag_list.map { |t| link_to t, tag_path(t), class: "tag" }.join(', ') %>
    </h6>


  </div>
<% end %>