<p id="notice"><%= notice %></p>
<% if @posts_s.any? %>
<h1 class="post-title">
    All questions
</h1>

<div class="posts-orders">
    <span class="icon-elegant-font-177-8826 sort-icon"></span>
    <%= sort_link(@q, :title, hide_indicator: true) %>
    <%= sort_link(@q, :created_at, "Created", hide_indicator: true) %>
    <%= sort_link(@q, :cached_votes_score, "Hearts", hide_indicator: true) %>
</div><!-- post-orders -->

<div id="content" class="clearfix posts-wrapper">
  <%= render(partial: 'post', collection: @posts, object: @posts) %>
</div>

<% unless @posts.current_page == @posts.total_pages %>
  <p id="view-more" class="clearfix">
    <%= link_to('View More', url_for(page: @posts.current_page + 1), class: "btn-green btn-full btn-load") %>
  </p>
<% end %>

<% else %>
    <div class="no-results-container">
        <h2 class="no-results-heading">Woopsie! No results</h2>
        <span class="icon-sad-face-in-rounded-square icon-no-results"></span>
    </div>
<% end %>

