<p id="notice"><%= notice %></p>
<h1>All Questions</h1>
<div class="questions-orders">
    <%= link_to "Newest", :sort_by => "description" %>
</div>

<%= form_tag posts_path, :method => "get" do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "S" %>
<% end %>
 <% @posts.each do |post| %>
        
        <p><%= post.description %></p>
        <h1><%= time_ago_in_words(post.created_at) %></h1>
        <%= link_to like_post_path(post), class: "like", method: :put do %>
        <i class="fa fa-heart main-question-icon">
        </i>
        <% end %>
        <span class="number-of-votes">
 <%= post.votes_for.size %>
</span>
        <%= link_to 'Show', post %>
        <% if current_user.id == post.user_id %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      
    <% end %>
