<p id="notice"><%= notice %></p>
<% if @posts_s.any? %>
<h1 class="post-title">
    All questions
</h1>

<div class="posts-orders">
    <span class="icon-elegant-font-177-8826 sort-icon"></span>
    <%= sort_link(@q, :title, hide_indicator: true) %>
    <%= sort_link(@q, :created_at, "Created", hide_indicator: true) %>
    <%= sort_link(@q, :cached_votes_score, "Hearts", hide_indicator: true) %>
</div><!-- post-orders -->

<div class="posts-container">
    <%= render @posts %>
</div>

<% else %>
    <div class="no-results-container">
        <h2 class="no-results-heading">Woopsie! No results</h2>
        <span class="icon-sad-face-in-rounded-square icon-no-results"></span>
    </div>
<% end %>

