<div class="row main-posts-row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main-col posts-col">
    <div class="col-xs-12 col-sm-9">
      <h1 class="post-title"> <%= truncate @post.description, length: 50%></h1>
      <p class="post-description"><%= @post.description %>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique magni quos voluptatem laboriosam commodi? Dolores reiciendis aliquid blanditiis architecto sed enim cupiditate, aut sit adipisci accusamus. Molestias vero, esse recusandae. Sapiente distinctio asperiores voluptatem debitis, ea, vitae tenetur vel, obcaecati veniam ipsum unde incidunt soluta officiis voluptas impedit iusto sit!
      </p>
    </div>

    <div class="col-xs-12 col-sm-3 text-center">
       <i class="fa fa-heart main-question-icon">
         <span class="number-of-votes">
           1234
         </span>
       </i>

    </div>

    <div class="col-xs-12 col-sm-12 p-r-0 post-subinfo">
       <p class="asked-by">
         <a class="green-text" href="#">Link to user name <%= @post.user.email %></a>
        <p class="post-date">
           <%= @post.created_at %>
        </p>
      </p>
    </div>
  </div><!-- posts-col -->


  <!-- COMMENTS -->

  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 add-comment-col p-l-0 p-r-0">
    <%= debug(params) %>
    <%= form_for [@post, Comment.new] do |f| %>
      <%= f.label :content, "Add your comment" %>
      <%= f.text_area :content, class: "posts-add-comment form-control", placeholder: "Share your wisdom" %>
      <%= f.submit "Comment", class: "btn-comment btn-green" %>   
    <% end %>
  </div>

   <% @post.comments.each do |c| %>
   <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main-col comments-col">
   <div class="col-xs-12 col-sm-10 p-l-0 p-r-0">
      <p class="comment-content">
        <%= c.content %>
        <%= c.id %>
      </p>
    </div>   

    <div class="col-xs-12 col-sm-2">
      <i class="fa fa-heart comment-heart"></i>
      <span class="c-number-of-votes text-center">
        110
      </span> 
    </div>

    <div class="col-xs-12 col-sm-12 p-l-0 p-r-0">
       <span class="comment-email green-text">
        <%= c.post.user.email %> link
      </span>
      <span class="comment-date">
        <%= c.created_at %>
      </span>
    </div>
   </div>
   <% end %>

</div><!-- row -->
