<div class="row main-posts-row">
  <div class="col-md-3">
    Link to previous post
  </div>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-0 main-col posts-col">
    <div class="col-xs-12 col-sm-9">
      <h1 class="post-title"> <%= truncate @post.description, length: 50%></h1>
      <p class="post-description">
        <%= best_in_place @post, :description %>
       <b>click to edit</b>
      </p>
    </div>

    <div class="col-xs-12 col-sm-3 text-center">
       <i class="fa fa-heart main-question-icon">
         <span class="number-of-votes">
           1234
         </span>
       </i>

    </div>

    <div class="col-xs-12 col-sm-12 p-r-0 post-subinfo">
       <p class="asked-by">
         <a class="green-text" href="#">Link to user name <%= @post.user.email %></a>
        <p class="post-date">
           <%= @post.created_at %>
        </p>
      </p>
    </div>
  </div><!-- posts-col -->

  <div class="col-md-3">
    link to next post
  </div>


  <!-- COMMENTS -->
  <%= render @post.comments %>

   <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 new-comment-col">
    <h2>Share your wisdom</h2>
    <%= render "comments/form" %>
   </div>
</div><!-- row -->

