<div class="row main-posts-row">
  <div class="col-md-3">
    
  </div>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-0 main-col posts-col">
    <div class="col-xs-12 col-sm-9">
      <h1 class="post-title"> <%= truncate @post.description, length: 50%></h1>
      <h2><%= @post.group_id %></h2>
      <p class="post-description">
      <% if @post.user_id == current_user.id %>
        <%= best_in_place @post, :description %>        
        <i class="fa fa-pencil"></i>
      <% else %>
        <%= @post.description %> 
      <% end %>
      </p>
    </div>

    <div class="col-xs-12 col-sm-3 text-center">
       <i class="fa fa-heart main-question-icon">
         <span class="number-of-votes">
           1234
         </span>
       </i>
    </div>

    <div class="col-xs-12 col-sm-12 p-r-0 post-subinfo">
       <p class="asked-by">
        <%=link_to @post.user.email, user_path(@post.user), class: "green-text" %></a>
        <p class="post-date">
           <%= @post.created_at %>
        </p>
      </p>
    </div>
  </div><!-- posts-col -->

  <!-- COMMENTS -->
  <%= render @post.comments %>

   <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 new-comment-col p-l-0 p-r-0">
    <%= render "comments/form" %>
   </div>
</div><!-- row -->

