<div class="row main-posts-row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-12">
    <h1> <%= @post.title %></h1>
  </div>

  <p id="notice"><%= notice %></p>
<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>
<ul>
  Comments for this post
  <% @post.comments.each do |c| %>
    <li><%= c.content %></li>  
  <% end %>
</ul>
</div>
