<h1>Unanswered</h1>
<%= params.inspect %>
<div id="tag_cloud">
Select by tags:  <% tag_cloud Post.uncommented.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, unanswered_tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<div class="posts-orders">
    <span class="icon-elegant-font-177-8826 sort-icon"></span>
    <%= link_to "All", posts_path %>
    <%= sort_link(@q, :created_at, "Created", hide_indicator: true) %>
    <%= sort_link(@q, :cached_votes_score, "Hearts", hide_indicator: true) %>
</div><!-- post-orders -->

<div id="content">
  <%= render "index_post" %>
</div>

<% if @posts.any? %>
<% unless @posts.current_page == @posts.total_pages %>
   <p id="view-more" class="clearfix">
    <%= link_to('View More', url_for(page: @posts.current_page + 1), class: "btn-green btn-full btn-load") %>
  </p>
<% end %>
<% end %>