<% if @post.errors.any? %>
	$("#editpost-<%= @post.id %>").modal("show");
	$("#editpost-<%= @post.id %> .modal-content").append("<h1>Errors: </h1> <%= @post.errors.full_messages %>");
<% else %>
	$("#editpost-<%=@post.id%>").modal("hide");
	$("#post-col-<%= @post.id %>").fadeOut(500, function(){
		$(this).remove();
		$("#content").prepend("<%= j render @post %>");
	});
<% end %>