<nav class="main-nav">
  <div class="search-content">
      
      <%= search_form_for @q do |f| %>
      <%= f.search_field :description_or_title_or_comments_content_cont, class: "form-control nav-search"%>
      <i class="icon-elegant-font-180-8914 nav-search-icon"></i> 
      <% end %>
  </div><!-- content -->
  <div class="right-nav">


    <%= link_to new_post_path, class: "plus-anchor", id: "new-post" do %>
      <span class="icon-elegant-font-172-8820 icon-plus"></span>
    <% end %>
  </div>

  <div class="notifications">
   <h5 style="width: 50%; left: 50%; position:absolute; color: red;">
     <% @notifications = Notification.all.where(user_id: current_user.id) %>

     <% @notifications.each do |n| %>
     
      
      <% user_id = n.notified_by_id %>
      <% user =  User.find_by_id(user_id) %>
       <%= n.notice_type %> by <%= user.username %> <%= time_ago_in_words(n.created_at) %> ago
       on 
       <% post_id = n.post_id %>
       <% post = Post.find_by_id(post_id) %>
       <%= link_to truncate(post.title, length: 50), post_path(post) %>
     <% end %>
    </h5> 
  </div>

</nav>

<script>
  $(".nav-search").val("");
  $(".nav-search").click(function(event){
    event.stopPropagation();
    $(this).addClass("active-search");
  }); 

  $(".nav-search-icon").click(function(event){
     event.stopPropagation();
    $(".nav-search").addClass("active-search");
  });

  $("html").click(function(){
    $(".nav-search").val("");
    $(".nav-search").removeClass("active-search");
  });
</script>