<nav class="main-nav">
  <div class="search-content">
      
      <%= search_form_for @q do |f| %>
      <%= f.search_field :description_or_title_or_comments_content_cont, class: "form-control nav-search"%>
      <i class="icon-elegant-font-180-8914 nav-search-icon"></i> 
      <% end %>
  </div><!-- content -->
  <div class="right-nav">


    <%= link_to new_post_path, class: "plus-anchor", id: "new-post" do %>
      <span class="icon-elegant-font-172-8820 icon-plus"></span>
    <% end %>
  </div>
  
  <div class="notifications">
    <li class="dropdown">
      <%= link_to tag(:span, class: "glyphicon glyphicon-globe", "aria-hidden" => true), root_path,  :class => "dropdown-toggle", 'data-toggle' => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :id => "dropdownment1" %> <%= current_user.notifications.count %>
          
      <ul class="dropdown-menu" aria-labelledby="dropdownmenu1">
        <li class="dropdown-header text-center">Notifications</li>
        <li><%= link_to 'Notification 1', root_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Notification 2', root_path %></li>
      </ul>
    </li>
  </div>
  
  

    

</nav>

<script>
  $(".nav-search").val("");
  $(".nav-search").click(function(event){
    event.stopPropagation();
    $(this).addClass("active-search");
  }); 

  $(".nav-search-icon").click(function(event){
     event.stopPropagation();
    $(".nav-search").addClass("active-search");
  });

  $("html").click(function(){
    $(".nav-search").val("");
    $(".nav-search").removeClass("active-search");
  });
</script>