

<button class="btn-nav">
  <div class="bar arrow-top-r"></div>
  <div class="bar arrow-middle-r"></div>
  <div class="bar arrow-bottom-r"></div>
</button>

<div class="nav-container hidden hideNav">

 <div class="sidebar-photo">
    <%= image_tag(current_user.avatar) %>
  </div>  


  <ul class="nav-list">
   <li>
       <%= link_to "Profile", profile_path %>
    </li>
    <li>
      <a href="">Messages</a>
    </li>
    <li>
       <%= link_to "Questions", posts_path %>
    </li>
    <li>
      <%= link_to "Tags", tags_path %>
    </li>

    <li>
      <%= link_to "About", about_path %>
    </li>

    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>
