<div class="con" id="btn-nav">
  <div class="bar top"></div>
  <div class="bar middle"></div>
  <div class="bar bottom"></div>
</div>

<div class="nav-container hidden hideNav">

  <div class="sidebar-photo">
    <%= link_to image_tag(current_user.avatar), profile_path %>
  </div>  


  <ul class="nav-list">
    <li>
       <%= link_to posts_path, class: "sidebar-anchor" do %>
      <span class="icon-elegant-font-249-10019"></span>
      <% end %>
    </li>

    <li>
      <%= link_to conversations_path, class: "sidebar-anchor" do %>
        <span class="icon-elegant-font-69-7647"></span>
      <% end %>
    </li>

    <li>
       <%= link_to profile_path, class: "sidebar-anchor" do %>
       <span class="icon-elegant-font-242-10003 icon-sidebar"></span>
       <% end %>
    </li>

    <li>
      <%= link_to about_path, class: "sidebar-anchor" do %>
        <i class="fa fa-info"></i>
      <% end %>
    </li>

    <li>
      <%= link_to destroy_user_session_path, method: :delete, class: "sidebar-anchor" do%>
       <span class="icon-exit"></span>  
      <% end %>
    </li>
  </ul>
</div>
