<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <%= render partial: "layouts/sidebar" %>
  <%= render partial: "layouts/navigation" %>
<% end %>
<div class="row main-row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-7 col-lg-offset-3">
    <%= yield %>
  </div>
</div>


</body>
</html>
